:root {
    --color1: #FEC93B;
    --color2: #CBCBCB;
    --color3: #2EB747;
    --color4: #F6F6F6;
    --color5: #000;
}

body {
    font-family: "Roboto";
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ----Header---- */

.header {
    background: var(--color4);
    padding: 20px 0;
}

.header__file {
    color: #000;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__down-list {
    background: url(../img/downprice.svg) center left no-repeat;
    padding: 5px 0 5px 30px;

}

.header__file {
    border-bottom: 2px dotted #000;
}

.header__menu {
    position: relative;
    z-index: 20;
}

.header__list {
    position: relative;
}

.drop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background: var(--color3);
    border-radius: 10px;
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    box-shadow: 0 0 30px rgba(112, 112, 112, 0.603);
}

.drop__active {
    opacity: 1;
    visibility: visible;
}

.drop__link {
    display: flex;
    padding: 10px 0 10px 10px;
    color: var(--color4);
    align-items: center;
    font-weight: 700;

}

.drop__link:hover {
    background: #000;
}

.drop__list:first-child .drop__link:hover {
    border-radius: 10px 10px 0 0;
}

.drop__list:last-child .drop__link:hover {
    border-radius: 0 0 10px 10px;
}

.drop__img {
    margin-right: 10px;
}

.btn {
    position: relative;
    border: 1px solid var(--color3);
    display: block;
    padding: 15px 20px 15px 0;
    /* padding: 15px 0 15px 25px; */
    border-radius: 10px;
    font-weight: 700;
    color: var(--color3);
    font-size: 18px;
    width: 120px;
}

.btn::after {
    position: absolute;
    top: 47%;
    right: 25px;
    transform: translateY(-50%) rotate(45deg);
    content: "";
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: black;
    padding: 3px;
}

.btn__active {
    background: var(--color3);
    color: var(--color4);
}

.btn__active::after {
    border-color: #F6F6F6;
}


.contact-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact-info__tel {
    font-size: 20px;
    font-weight: 900;
}

/* ----Home---- */

.home {
    background: url(../img/BG-image.jpg);
    min-height: 700px;
    object-fit: cover;
    object-position: center;
}

.home__wrapper {
    width: 530px;
    padding-top: 165px;
}

.home__wrapper *+* {
    margin-top: 50px;
}

.home__title {
    font-size: 35px;
    font-weight: 700;
}

.home__text {
    font-size: 20px;
    font-weight: 600;
    color: #ADADAD;
}

.btn-content {
    display: inline-block;
    padding: 20px 35px;
    background: var(--color1);
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}

.bullets {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 125px;
}

.bullets__col {
    display: flex;
    align-items: center;
}

.bullets__text {
    font-size: 20px;
    font-weight: 700;
    color: var(--color5);
    margin-left: 15px;
}

/* ----Why---- */

.why {
    padding: 100px 0 50px 0;
}

.title {
    font-size: 25px;
    font-weight: 700;
    color: var(--color5);

}

.why__title {
    margin-bottom: 70px;
}

.why__row {
    display: flex;
    gap: 30px;
}

.why__col {
    flex: 0 1 33.33%;
}

.card {

    background: #F6F6F6;
    padding: 30px;
    border-radius: 10px;

}

.card__row {
    display: flex;
    gap: 30px;
}

.card__title {
    font-size: 25px;
    font-weight: 700;
    color: var(--color5);
    margin-bottom: 30px;
}

.card__text {
    font-size: 15px;
    font-weight: 500;
    color: var(--color2);
}

/* ----services---- */

.services {
    padding: 50px 0;
}

.services__tab-wrapper {
    margin-top: 70px;
}

.tabs {
    display: flex;
    gap: 25px;
}

.tabs__item {
    /* background: var(--color4); */
    border: 2px solid var(--color3);
    width: 220px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    font-weight: 700;
    transition: all 0.3s;
}

.tabs__item:hover {
    background: #4CD565;
    color: var(--color4);
}

.active__tab {
    background: var(--color3);
    color: #ffffff;
}

.tabs__content-row {
    display: flex;
    gap: 80px;
    margin-top: 70px;
}

.tabs__content-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.tabs__content-name {
    margin-bottom: 30px;
}

.tabs__content-item {
    background: url(../img/circle.png) center left no-repeat;
    list-style-position: inside;
    line-height: 230%;
    font-size: 16px;
    padding-left: 40px;
}

.tabs__content-price {
    line-height: 230%;
    font-weight: 700;
}

.tabs__content-img {
    border-radius: 10px;
}

.tabs__content-wrapper {
    display: flex;
    gap: 30px;
}

.hidden {
    display: none;
}

.tabs__img {
    margin-right: 20px;
}

/* ----rates---- */

.rates {
    padding: 100px;
    background: var(--color4);
}

.container {}

.rates__title {
    margin-bottom: 70px;
}

.title {}

.rates__row {
    display: flex;
    margin: 0 -15px;
}

.rates__col {
    flex: 0 1 33.33%;
    padding: 0 15px;
}

.rates__card {
    /* width: 360px; */
    background: #fff;
    border-radius: 10px;
    padding: 25px 60px;
}

.rates__heading {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    color: var(--color3);
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.rates__heading::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--color3);
    top: 100%;
    left: 0;
}

.rates__item {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.rates__list {
    line-height: 27px;

}

.rates__link {
    list-style-type: circle;
    list-style-position: inside;
}

.rates__link_active {
    color: var(--color3);
}

.rates__price {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
}

.rates__btn {
    position: relative;
    display: block;
    background: var(--color3);
    color: var(--color4);
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}

.rates__btn::after {
    position: absolute;
    content: url(../img/arrow-btn.svg);
    top: 50%;
    right: 20px;
    transform: translateY(-40%);
}

/* ----about--- */

.about {
    padding: 100px 0;
}

.about__row {
    display: flex;
    justify-content: space-between;
}

.about__wrapper {
    width: 590px;
    padding-right: 120px;
}

.about__title {
    margin-bottom: 60px;
}

.about__text {
    margin-bottom: 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    color: #9B9B9B;
}

.about__img {
    border-radius: 20px;
}

/* ----reviews---- */

.reviews {
    padding: 100px 0;
    background: var(--color4);
}

.reviews__title {
    margin-bottom: 70px;
}

.reviews__card {
    width: 375px;
    border-radius: 10px;
    background: #fff;
    padding: 30px 25px;
}

.reviews__text {
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    color: #A4A4A4;
    margin-bottom: 25px;
}

.reviews__work {
    font-size: 15px;
    font-weight: 500;
    color: var(--color3);
    text-align: right;
    margin-bottom: 17px;

}

.reviews__row {
    display: flex;
    gap: 25px;
    align-items: center;
}

.reviews__row__img {
    border-radius: 100px;
}

.reviews_name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.reviews__job {
    font-size: 15px;
    font-weight: 500;
    color: var(--color2);
}